html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #fff;
}


header {
    padding: 20px 0;
}

.navbar-brand,
.navbar-brand span {
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

.navbar-brand span {
    color: #00ccff;
}

.menu {}

.menu ul {}

.menu ul li {}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 500;
    padding: 0 !important;
    margin-left: 60px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.menu ul li a:hover {
    color: #00ccff !important;
}


nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
}

.banner {
    background: url(../images/bannner.jpg) no-repeat center;
    min-height: 500px;
    background-size: cover;
}

/*Photography Section Start*/
.photography-section {}

.photography-section {
    padding: 50px 0;
}

.photography {}

.heading {}

.heading h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: #bab9b9;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}

.heading h2 {
    font-size: 28px;
    color: #5a5a5a;
    font-weight: 500;
    margin-bottom: 20px;
}

.photography p {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: .15px;
    font-size: 16px;
}

.photography-blog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.photography-content {
    flex-basis: 50%;
    padding: 10px;
    overflow: hidden;
}


.photography-content p {
    font-size: 15px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: .15px;
    font-weight: 300;
}

.photography-blog {
    padding-bottom: 40px;
}


.photography-content img {
    margin-bottom: 20px;
    margin-top: 40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}


.photography-content img:hover {
    transform: scale(1.02);
}


.top-margin {
    margin-top: 20px;
}

.photography-content a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #02a4d0;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.photography-content a:hover {
    color: #00ccff;
}

.learn-btn a {
    color: #5a5a5a;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #5a5a5a;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.learn-btn a:hover {
    background-color: #00ccff;
    color: #000;
    border: 1px solid #00ccff;
}


.learn-btn {
    text-align: center;
}

/*Photography Section End*/




/*Newsletter Section Start*/


.newsletter-section {
    background-color: #e7e7e7;
    padding: 70px 0;
}

.newsletter-section h2 {
    text-align: center;
    font-size: 28px;
    color: #353535;
    font-weight: 700;
    margin-bottom: 40px;
}

.newsletter-section p {
    text-align: center;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: .15px;
    margin-right: 37px;
    margin-left: 506px;
    border-bottom: 1px solid grey;
}

.input-group-text button {
    border: none;
    background: transparent;
    margin: -1px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.input-group-text button:focus {
    background: transparent;
    outline: none;
}

.input-group-text button:hover {
    color: #00ccff;
}

.newsletter_content input:focus {
    background: transparent;
    color: #000;
    box-shadow: none;
}

.newsletter-section i {}

.newsletter_content {
    text-align: center;
    margin: auto;
    align-items: center;
}

.newsletter_content input {
    width: 100%;
    padding: 15px 0px 5px;
    background: #e7e7e7;
    border: none;
    border-bottom: 1px solid #676565;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
}

.newsletter_content input::placeholder {
    color: #5a5a5a73;
}



.newsletter_content a {
    flex-basis: 15%;
    display: block;
    font-size: 26px;
    color: #5a5a5a;
    font-weight: 300;
    padding-top: 21px;
    text-align: right;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.newsletter_content a:hover {
    color: #00ccff;
}

newsletter-btn {}

.input-group-text {
    background: none;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid #676565;
}

/*Newsletter Section End*/



/*Footer Start*/
.footer {
    background-color: #e7e7e7;
    padding: 30px 0;
}

.footer ul li a,
.footer ul li p {
    font-size: 14px;
    color: #5a5a5a;
    text-decoration: none;
    margin-right: 5px;
    transition: all 0.4s ease;
    font-weight: 300;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    margin-bottom: 0;
}

.footer ul li a:hover {
    color: #00ccff;
}

/*Footer End*/
